<link rel = "stylesheet" type = "text/css" href = "retro.css" />  
<p><img src="https://i.imgur.com/dS07iOu.png" alt="Dissonance Logo"><br>
<em><a href="https://rousr.itch.io/dissonance">itch.io</a></em></p>
<p><strong>Dissonance is no way created by, endorsed by, or affiliated with Discord.</strong>
Dissonance is built on <a href="https://github.com/discordapp/discord-rpc">discord-rpc</a></p>
<ul>
<li>Available for <strong>Windows</strong> and <strong>macOS</strong></li>
</ul>
<p><strong>ALL KNOWN ISSUES FIXED</strong></p>
<p><img src="https://i.imgur.com/erXLDlK.png" alt="Dissonance Screenshot"></p>
<hr>
<h2>Documentation</h2>
<p>Initial Steps:</p>
<ul>
<li>Setup your <a href="https://discordapp.com/developers/applications/me">app with discord</a></li>
<li>Familiarized yourself with the Rich Presence FAQ / How-To: https://discordapp.com/developers/docs/rich-presence/how-to</li>
</ul>
<p>Once you've done this, you're ready to use Dissonance!</p>
<h3>Creating Dissonance</h3>
<p>Before you can call <strong>Any</strong> <code>rousr_dissonance_</code> functions:</p>
<ul>
<li>Call <code>rousr_dissonance_create(&lt;your-app-id&gt;)</code> to create the Dissonance object and initialize the Discord RPC.</li>
</ul>
<p>Next, setup your handlers.. none of them are actually required, but if you're going to have join / spectate functionality, or
want to catch when the RPC is ready / log errors, they are available:</p>
<ul>
<li><code>rousr_dissonance_handler_on_ready(_script_index, [_user_data])</code></li>
<li><code>rousr_dissonance_handler_on_disconnected(_script_index, [_user_data])</code></li>
<li><code>rousr_dissonance_handler_on_error(_script_index, [_user_data])</code></li>
<li><code>rousr_dissonance_handler_on_join(_script_index, [_user_data])</code></li>
<li><code>rousr_dissonance_handler_on_spectate(_script_index, [_user_data])</code></li>
<li><code>rousr_dissonance_handler_on_join_request(_script_index, [_user_data])</code></li>
</ul>
<p><strong>Note:</strong> When receiving a join request, prompt the player with options to accept or reject the invite, sending the reply with the following:</p>
<ul>
<li><code>rousr_dissonance_respond_to_join(_user_id, _reply)</code> (_reply is a <code>EDissonanceJoinReply</code> value)</li>
</ul>
<h3>Set Rich Presence Fields</h3>
<p>The following functions set the various <a href="https://discordapp.com/developers/docs/rich-presence/how-to#updating-presence-update-presence-payload-fields">fields</a>:</p>
<ul>
<li><code>rousr_dissonance_set_details(_details)</code></li>
<li><code>rousr_dissonance_set_large_image(_image_key, [_image_text])</code></li>
<li><code>rousr_dissonance_set_small_image(_image_key, [_image_text])</code></li>
<li><code>rousr_dissonance_set_timestamps(_secondsFromNowStart, _secondsFromNowEnd)</code></li>
<li><code>rousr_dissonance_set_state(_state)</code></li>
<li><code>rousr_dissonance_set_party(_party_size, _party_max, [_party_id])</code></li>
<li><code>rousr_dissonance_set_join_secret(_secret)</code></li>
<li><code>rousr_dissonance_set_spectate_secret(_secret)</code></li>
<li><code>rousr_dissonance_set_match_secrete(_match_secret, _is_instance)</code></li>
</ul>
<h4>Note on Example Assets</h4>
<p>If you want to follow the Example exactly, I've included two 1024x1024 png files in the Included Files section of the resource tree.
Upload these both to the &quot;Rich Presence Assets&quot; section of your dashboard:</p>
<ul>
<li><strong>dissonance_small.png</strong>
<ul>
<li>Name: <code>dissonance</code></li>
<li>Type: <code>Small</code></li>
</ul>
</li>
<li><strong>dissonance_large.png</strong>
<ul>
<li>Name: <code>dissonance_large</code></li>
<li>Type: <code>Large</code></li>
</ul>
</li>
</ul>
